:root {
    --color-primary: #FFFFFF;
    --color-accent: #D0D6F9;
    --color-gray: #979797;
    --color-background: #0B0D17;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--color-primary);
    background-color: var(--color-background);
    background: url("./home/background-home-desktop.jpg") no-repeat;
    background-size: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    width: 274px;
    height: 274px;
    color: var(--color-background);
    background-color: var(--color-primary);
    border: 0;
    border-radius: 50%;
    font-family: 'Bellefair', serif;
    font-size: 2rem;
    text-transform: uppercase;
}

h1, h2, h3, h4 {
    font-family: 'Bellefair', serif;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    font-size: 150px;
}

h2 {
    font-size: 100px;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.75rem;
    letter-spacing: 4.75px;
    color: var(--color-accent);
}

ul {
    list-style: none;
}

.subheading1 {
    font-size: 1.75rem;
    text-transform: uppercase;
}

.subheading2 {
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: 2.35px;
}

/************************
 ***  HEADER SECTION  ***
 ***                  ***/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px 0;
    font-size: 1rem;
    letter-spacing: 2.7px;
}

header .logo {
    margin: 0 40px;
}

header .separator {
    flex-grow: 2;
    height: 1px;
    margin-right: -2vw;
    background-color: var(--color-gray);
    z-index: 1;
}

nav {
    display: flex;
    justify-content: center;
    padding: 0 2.5rem;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(4px);
    text-transform: uppercase;
}

nav span {
    padding-right: 11px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 2.5rem;
}

nav li {
    padding: 35px 0;
    border-bottom: 3px solid transparent;
    width: max-content;
}

nav a {
    height: 25px;
}

nav .menu-icon {
    display: none;
    position: relative;
}

nav .menu-icon,
nav .menu-icon::after,
nav .menu-icon::before {
    width: 24px;
    height: 3px;
    background-color: var(--color-accent);
}

nav .menu-icon::after,
nav .menu-icon::before {
    content: "";
    position: absolute;
    left: 0;
}

nav .menu-icon::before {
    top: -9px;
}

nav .menu-icon::after {
    top: 9px;
}

nav #menu.expanded {
    position: absolute;
    top: 0;
    left: 30%;
    right: 1px;
    bottom: 0;

    padding: 7rem 2rem 0;

    display: flex;
    flex-direction: column;
    gap: 0;

    font-size: 1rem;

    background-color: rgba(255,255,255,.04);
    backdrop-filter: blur(40px);
}

nav #menu.expanded li {
    border: 0;
    padding: 1rem 0;
}

nav #menu.expanded span {
    display: inline-block;
}

nav #menu-icon.expanded {
    background-color: transparent;
}

nav #menu-icon.expanded:before {
    transform: translateY(9px) rotate(45deg);
}
  
nav #menu-icon.expanded:after {
    transform: translateY(-9px) rotate(-45deg);
}

nav #menu-icon.expanded div {
    transform: scale(0);
}

.tab li {
    padding-bottom: 12px;
    border-bottom: 3px;
}

li.active,
nav li:active,
.tab li:active {
    border-bottom-color: var(--color-primary);
}

nav li:hover,
.tab li:hover {
    border-bottom-color: var(--color-gray);
}

/**********************
 ***  HERO SECTION  ***
 ***                ***/

.hero {
    display: flex;
    justify-content: space-around;
    margin: 25vh auto;
}

.hero div {
    display: flex;
    flex-direction: column;
    width: min-content;
}

.hero p {
    font-size: 1.125rem;
    line-height: 2rem;
    color: var(--color-accent);
}

/*********************
 *** MEDIA QUERIES ***
 ***               ***/

/*** TABLET ***/

@media only screen and (max-width: 768px) {
    body {
        background-image: url("./home/background-home-tablet.jpg");
    }
    button {
        width: 242px;
        height: 242px;
    }
    h5 {
        font-size: 1.25rem;
    }
    header {
        margin: auto;
    }
    header .separator {
        display: none;
    }
    nav {
        font-size: .875rem;
    }
    nav span {
        display: none;
    }
    .hero {
        flex-direction: column;
        align-items: center;
        row-gap: 8rem;
        margin: 10vh auto;
    }
    .hero div {
        align-items: center;
        row-gap: 2rem;
    }
    .hero p {
        font-size: 1rem;
        text-align: center;
    }
}

/*** MOBILE ***/

@media only screen and (max-width: 375px) {
    /* general */
    body {
        background-image: url("./home/background-home-mobile.jpg");
    }
    button {
        width: 150px;
        height: 150px;
        font-size: 1.25rem;
        letter-spacing: 1.25px;
    }
    h1 {
        font-size: 5rem;
    }
    h5 {
        font-size: 1rem;
    }

    /* header */
    header {
        margin: 1.5rem 0;
    }
    header .logo {
        width: 40px;
        height: auto;
        margin: auto 1.5rem;
    }
    header .separator {
        display: none;
    }
    nav {
        padding: 0 1.5rem;
        background: none;
        backdrop-filter: none;
    }
    nav ul {
        display: none;
    }

    nav .menu-icon {
        display: inline-block;
    }    

    /* hero */
    .hero {
        flex-direction: column;
        align-items: center;
        row-gap: 4rem;
        margin: 5vh 1.5rem;
    }
    .hero div {
        align-items: center;
        row-gap: 2rem;
        width: auto;
    }
    .hero p {
        font-size: 15px;
        text-align: center;
    }
}