:root {
    --color-primary: #FFFFFF;
    --color-accent: #D0D6F9;
    --color-gray: #979797;
    --color-background: #0B0D17;

    --menu-blur: blur(40px);
}

/*
 *********   *********    *******    *********  ********** 
 *********   *********   *********   *********  ********** 
 **      **  **         **           **             **     
 **      **  **         **           **             **     
 ********    ********    ********    ********       **     
 ********    ********     ********   ********       **     
 **      **  **                  **  **             **     
 **      **  **                  **  **             **     
 **      **  *********   *********   *********      **     
 **      **  *********    *******    *********      **     
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
 *********     *****      *******    ********* 
 *********    *******    *********   ********* 
 **      **  **     **  **           **        
 **      **  **     **  **           **        
 ********    *********   ********    ********  
 ********    *********    ********   ********  
 **      **  **     **           **  **        
 **      **  **     **           **  **        
 *********   **     **   *********   ********* 
 *********   **     **    *******    ********* 
*/

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
    color: var(--color-primary);
    background-color: var(--color-background);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    width: 274px;
    height: 274px;
    color: var(--color-background);
    background-color: var(--color-primary);
    border: 0;
    border-radius: 50%;
    font-family: 'Bellefair', serif;
    font-size: 2rem;
    text-transform: uppercase;
}

button:hover {
    box-shadow: 
        rgba(255 255 255 / 10.36%)
        0 0 0 88px;
    cursor: pointer;
}

h1, h2, h3, h4 {
    font-family: 'Bellefair', serif;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    font-size: 150px;
}

h2 {
    font-size: 100px;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.75rem;
    letter-spacing: 4.75px;
    color: var(--color-accent);
}

p {
    font-size: 1.125rem;
    line-height: 2rem;
    color: var(--color-accent);
}

ul {
    list-style: none;
}

/*
  ******     **            *****      *******      *******    *********    *******   
 ********    **           *******    *********    *********   *********   *********  
**      **   **          **     **  **           **           **         **          
**           **          **     **  **           **           **         **          
**           **          *********   ********     ********    ********    ********   
**           **          *********    ********     ********   ********     ********  
**           **          **     **           **           **  **                  ** 
**       **  **          **     **           **           **  **                  ** 
 *********   *********   **     **   *********    *********   *********   *********  
  *******    *********   **     **    *******      *******    *********    *******   
*/

body.home {
    background-image: url("./home/background-home-desktop.jpg");
}

body.destination-data {
    display: flex;
    flex-direction: column;
    background-image: url("./destination/background-destination-desktop.jpg");
}

body.crew-data {
    display: flex;
    flex-direction: column;
    background-image: url("./crew/background-crew-desktop.jpg");
}

body.technology-data {
    display: flex;
    flex-direction: column;
    background-image: url("./technology/background-technology-desktop.jpg");
}

.faded-some {
    opacity: 0.5;
}

.faded-more {
    opacity: 0.25;
}

.nav-text {
    font-size: 1rem;
    color: var(--color-accent);
    text-transform: uppercase;
}

.subheading-1 {
    font-family: 'Bellefair', serif;
    font-size: 1.75rem;
    text-transform: uppercase;
}

.subheading-2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: 2.35px;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: var(--color-gray);
    opacity: .25;
}

.slider-1 {
    display: flex;
    gap: 1.5rem;
}

.slider-1 li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-primary);
    opacity: 0.17;
}

.slider-1 li:hover {
    opacity: 0.5;
}

.slider-1 li.active {
    opacity: 1;
}

.slider-2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Bellefair', serif;
    font-size: 2rem;
}

.slider-2 li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 1px solid rgba(255 255 255 / 25%);
    border-radius: 50%;
}

.slider-2 li:hover {
    border-color: rgba(255 255 255 / 100%);
}

.slider-2 li.active {
    color: var(--color-background);
    background-color: var(--color-primary);
    border-color: rgba(255 255 255 / 100%);
}

/*
 **      **  *********    *****    *********    *********  *********  
 **      **  *********   *******   **********   *********  *********  
 **      **  **         **     **  **       **  **         **      ** 
 **      **  **         **     **  **       **  **         **      ** 
 **********  ********   *********  **       **  ********   ********   
 **********  ********   *********  **       **  ********   ********   
 **      **  **         **     **  **       **  **         **      ** 
 **      **  **         **     **  **       **  **         **      ** 
 **      **  *********  **     **  **********   *********  **      ** 
 **      **  *********  **     **  *********    *********  **      ** 
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px 0;
    font-size: 1rem;
    letter-spacing: 2.7px;
}

header .logo {
    margin: 0 40px;
}

header .separator {
    flex-grow: 2;
    margin-right: -2vw;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: center;
    padding: 0 10vw;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: var(--menu-blur);
    text-transform: uppercase;
}

nav span {
    padding-right: 11px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 2.5rem;
}

nav li {
    padding: 35px 0;
    border-bottom: 3px solid transparent;
    width: max-content;
}

nav a {
    height: 25px;
}

nav .menu-icon {
    display: none;
    position: relative;
}

nav .menu-icon,
nav .menu-icon::after,
nav .menu-icon::before {
    width: 24px;
    height: 3px;
    background-color: var(--color-accent);
}

nav .menu-icon::after,
nav .menu-icon::before {
    content: "";
    position: absolute;
    left: 0;
}

nav .menu-icon::before {
    top: -9px;
}

nav .menu-icon::after {
    top: 9px;
}

nav #menu.expanded {
    position: absolute;
    top: 0;
    left: 30%;
    right: 1px;
    bottom: 0;

    padding: 7rem 2rem 0;

    display: flex;
    flex-direction: column;
    gap: 0;

    font-size: 1rem;

    background-color: rgba(255,255,255,.04);
    backdrop-filter: var(--menu-blur);
}

nav #menu.expanded li {
    border: 0;
    padding: 1rem 0;
}

nav #menu.expanded span {
    display: inline-block;
}

nav #menu-icon.expanded {
    background-color: transparent;
}

nav #menu-icon.expanded:before {
    transform: translateY(9px) rotate(45deg);
}
  
nav #menu-icon.expanded:after {
    transform: translateY(-9px) rotate(-45deg);
}

nav #menu-icon.expanded div {
    transform: scale(0);
}

.tabs ul {
    display: flex;
    gap: 1.5rem;
}

.tabs li {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--color-accent);

    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
}

.tabs li.active {
    color: var(--color-primary);
}

li.active,
nav li:active,
.tabs li:active {
    border-bottom-color: var(--color-primary);
}

nav li:hover,
.tabs li:hover {
    border-bottom-color: var(--color-gray);
}

/*
 **      **  *********  *********     *******   
 **      **  *********  *********    *********  
 **      **  **         **      **  **       ** 
 **      **  **         **      **  **       ** 
 **********  ********   ********    **       ** 
 **********  ********   ********    **       ** 
 **      **  **         **      **  **       ** 
 **      **  **         **      **  **       ** 
 **      **  *********  **      **   *********  
 **      **  *********  **      **    *******   
*/

.hero {
    display: flex;
    justify-content: space-around;
    margin: 25vh auto;
}

.hero div {
    display: flex;
    flex-direction: column;
    width: min-content;
}

/***/

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 3rem;
    width: 100vw;
    height: 100%;
    padding: 5vh 10vw 0;
}

.technology-data .content {
    gap: 1rem;
}

.destination p {
    min-height: 8rem;
}

.crew-data .content > h5 {
    margin-bottom: -5rem;
}

.content > h5 > span {
    padding-right: 1.5rem;
    font-weight: bold;
}

.content > article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5vw;
    flex-grow: 1;
}

.content > article.technology {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    gap: 5rem;
    flex-grow: unset;
}

.content > article:not([class~='active']) {
    display: none;
}

article > .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* for crew */
    align-self: end;
    margin-bottom: 10vh;
}

.crew .details > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details h3 {
    width: max-content; /* for crew member name */
}

.destination .details p {
    margin: -1.5rem 0 2rem;
}

.crew .details p {
    /* width: 48ch; */
    height: 14rem;
}

.technology .details p {
    /* width: 46ch; */
    height: 12rem;
}

.travel-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    gap: 2rem;
}

.travel-info > div {
    width: 100%;
}

.travel-info .subheading-2 {
    margin-bottom: 1em;
    color: var(--color-accent);
}

.crew .image {
    text-align: right;
    align-self: end;
}

.crew img {
    max-width: 100%;
}

.technology img.landscape {
    display: none;
}

.technology img.portrait {
    display: initial;
}

/*
 **        **  *********  *********    ********    *****   
 ***      ***  *********  **********   ********   *******  
 ****    ****  **         **       **     **     **     ** 
 ** **  ** **  **         **       **     **     **     ** 
 **  ****  **  ********   **       **     **     ********* 
 **   **   **  ********   **       **     **     ********* 
 **        **  **         **       **     **     **     ** 
 **        **  **         **       **     **     **     ** 
 **        **  *********  **********   ********  **     ** 
 **        **  *********  *********    ********  **     ** 
*/

/*
 ***       #####    #    ####   #      #####  ##### 
 *****       #     # #   #   #  #      #        #   
 *******     #    #####  ####   #      ####     #   
 *****       #    #   #  #   #  #      #        #   
 ***         #    #   #  ####   #####  #####    #   
 */

@media only screen and (max-width: 768px) {
    body.home {
        background-image: url("./home/background-home-tablet.jpg");
        background-position: bottom;
    }
    body.destination-data {
        background-image: url("./destination/background-destination-tablet.jpg");
        background-position: bottom;
    }
    body.crew-data {
        background-image: url("./crew/background-crew-tablet.jpg");
        background-position: top;
    }
    body.technology-data {
        background-image: url("./technology/background-technology-tablet.jpg");
        background-position: bottom;
    }
    button {
        width: 242px;
        height: 242px;
    }
    button:hover {
        box-shadow: 
        rgba(255 255 255 / 10.36%)
        0 0 0 77px;
    }
    h2 {
        font-size: 5rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    .slider-1 {
        gap: 1rem;
    }
    .slider-1 li {
        width: 10px;
        height: 10px;
    }    
    .slider-2 li {
        width: 3.75rem;
        height: 3.75rem;
    }
    /* Global */
    .content {
        padding: 4vh 40px 0;
    }
    .content > h5 > span {
        padding-right: 1rem;
    }
    .details p {
        font-size: 1rem;
        line-height: 28px;
        text-align: center;
        /* width: 100% !important; */
    }
    .travel-info > div {
        text-align: center;
    }
    /* Header */
    header {
        margin: auto;
    }
    header .separator {
        display: none;
    }
    nav {
        font-size: .875rem;
    }
    nav span {
        display: none;
    }
    /* Home */
    .hero {
        flex-direction: column;
        align-items: center;
        row-gap: 8rem;
        margin: 10vh auto;
    }
    .hero div {
        align-items: center;
        row-gap: 2rem;
    }
    /* Desination */
    article.destination {
        display: flex;
        flex-direction: column;
    }
    article.destination img {
        max-width: 300px;
    }
    article.destination > .details {
        align-items: center;
        margin-bottom: 0;
        margin-inline: 2.75rem;
    }
    article.destination .details p {
        margin-bottom: -1.5rem;
    }
    article.destination .travel-info {
        width: 100%;
        justify-items: center;
    }
    /* Crew */
    .crew-data .content h5 {
        margin-bottom: 0;
    }
    article.crew {
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }
    article.crew > .details {
        align-items: center;
        align-self: center;
        gap: 1rem;
        margin-bottom: 0;
        margin-inline: 4rem;
    }
    article.crew > .details > div {
        align-items: center;
    }
    article.crew > .details p {
        height: 8em;
    }
    article.crew .image {
        height: 50vh;
        align-self: center;
    }
    article.crew img {
        height: 100%;
    }
    /* Technology */
    .content article.technology {
        grid-template: repeat(2, auto) / none;
        justify-items: center;
        margin-left: -40px;
        gap: 3rem;
    }
    article.technology > .image {
        grid-area: 1 / 1;
        overflow: hidden;
        width: 100vw;
    }
    article.technology > .details {
        gap: 1rem;
        align-items: center;
        /* width: 51ch; */
    }
    .technology img.landscape {
        display: initial;
        width: 101vw;
    }
    .technology img.portrait {
        display: none;
    }
    .technology .slider-2 {
        flex-direction: row;
    }
    
    
}

/*
 ***       #     #   ####   ####   #####  #      ##### 
 *****     ##   ##  #    #  #   #    #    #      #     
 *******   # # # #  #    #  ####     #    #      ####  
 *****     #  #  #  #    #  #   #    #    #      #     
 ***       #     #   ####   ####   #####  #####  ##### 
 */

@media only screen and (max-width: 375px) {
    /* general */
    body.home {
        background-image: url("./home/background-home-mobile.jpg");
        background-position: bottom;
    }
    body.destination-data {
        background-image: url("./destination/background-destination-mobile.jpg");
        background-position: bottom;
    }
    body.crew-data {
        background-image: url("./crew/background-crew-mobile.jpg");
        background-position: bottom;
    }
    body.technology-data {
        background-image: url("./technology/background-technology-mobile.jpg");
        background-position: bottom;
    }
    button {
        width: 150px;
        height: 150px;
        font-size: 1.25rem;
        letter-spacing: 1.25px;
    }
    button:hover {
        box-shadow: 
        rgba(255 255 255 / 10.36%)
        0 0 0 48px;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1rem;
    }
    h5 {
        font-size: 1rem;
    }
    .slider-2 {
        font-size: 1rem;
    }
    .slider-2 li {
        width: 2.5rem;
        height: 2.5rem;
    }
    .content {
        padding-top: 0;
        gap: 1rem;
        align-items: center;
        padding-inline: 24px;
    }
    /* header */
    header {
        margin: 1.5rem 0;
    }
    header .logo {
        width: 40px;
        height: auto;
        margin: auto 1.5rem;
    }
    header .separator {
        display: none;
    }
    nav {
        padding: 0 1.5rem;
        background: none;
        backdrop-filter: none;
    }
    nav ul {
        display: none;
    }

    nav .menu-icon {
        display: inline-block;
    }    

    /* hero */
    .hero {
        flex-direction: column;
        align-items: center;
        row-gap: 4rem;
        margin: 5vh 1.5rem;
    }
    .hero div {
        align-items: center;
        row-gap: 2rem;
        width: auto;
    }

    /* global */
    .details p {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }

    /* Desination */
    article.destination > .details {
        margin-inline: 0;
    }
    article.destination img {
        max-width: 170px;
    }
    article.destination .travel-info {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }
    /* Crew */
    article.crew {
        display: grid;
        gap: 4vh;
        grid-template: auto / 1fr;
        flex-grow: unset;
    }
    article.crew > .details {
        margin-inline: 0;
    }
    article.crew .image {
        grid-row: 1;
        width: 100%;
        height: 30vh;
        text-align: center;
        border-bottom: 1px solid #3b3b4b;
    }
    article.crew .slider-1 {
        order: -1;
    }
    /* Technology */
    .content > article.technology {
        margin-left: 0;
        gap: 2rem;
    }
    article.technology > .details {
        margin-inline: 24px;
    }
}